.mp-galery__item {
  display: block;
  float: left;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  box-sizing: border-box;
}

.mp-galery__item:nth-child(-n+3) {
  width: 33.33%;
}

.mp-galery__item:nth-child(7),
.mp-galery__item:nth-child(8) {
  width: 50%;
}

.mp-galery__item:nth-child(4) {
  width: 66.66%;
}

.mp-galery__item:nth-child(5),
.mp-galery__item:nth-child(6) {
  width: 33.33%;
}

.mp-galery__item:nth-child(n+9) {
  width: 25%;
}

.mp-galery__item:last-child():after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}