.mp-menu {
  font-size: 1.2em;
  list-style-type: none;
  line-height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
}

.mp-menu__item-link {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: rgba(0, 0, 0, .3);
}

.mp-menu__item-link:hover {
  color: #000;
}