html {
  font-family: 'Open Sans', sans-serif;
}

body,
main {
  height: 100%;
}

.mp-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: #fff;
  margin: 0 5% 0 5%;
}

.mp-main {
  flex-grow: 1;
}

.mp-header__logo-container {
  margin-top: 20px;
}

.mp-intro,
.mp-contact-us,
.mp-about {
  text-align: center;
}

.mp-logo__title {
  color: #333;
  font-size: 2em;
}

.mp-logo__description {
  padding-top: 10px;
  color: #888;
}

.mp-logo {
  line-height: 40px;
}

.mp-header__menu-container {
  position: relative;
  width: 100%;
  top: -20px;
}

.mp-delimeter-line__item,
.mp-footer__delimeter-line-item {
  margin: 1em 0 1em;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.mp-main__inner-placeholder-for-intro {
  padding-top: 150px;
  padding-bottom: 150px;
}

.mp-menu {
  font-size: 1.2em;
  list-style-type: none;
  line-height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
}

.mp-menu__item-link {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: rgba(0, 0, 0, .3);
}

.mp-menu__item-link:hover {
  color: #000;
}

.mp-intro__title {
  font-size: 3em;
}

.mp-intro__description {
  padding: 20px 0;
  font-size: 1.5em;
  text-align: center;
  line-height: 50px;
}

.mp-intro__link-gallery,
.mp-intro__link-more {
  text-decoration: none;
}

.mp-main__inner-placeholder-for-intro,
.mp-main__inner-placeholder-about,
.mp-main__inner-placeholder-contact-us {
  width: 600px;
}

.mp-main__outer-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/tm-sigma-00.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mp-intro__button-gallery,
.mp-intro__button-more,
.mp-line-type-4__button-detail,
.mp-line-type-4__button-more,
.mp-form__submit-button {
  margin: 10px;
  border-style: none;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  vertical-align: bottom;
  padding: 1em 2.5em 1em 2.5em;
  font-size: 1.325em;
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);*/
  cursor: pointer;
}

.mp-line-type-2__item {
  text-align: center;
  vertical-align: middle;
}

.mp-line-type-2__title {
  font-size: 1.5em;
}

.mp-line-type-2__icon-design,
.mp-line-type-2__icon-implement,
.mp-line-type-2__icon-enhance,
.mp-line-type-2__icon-monitor {
  display: inline-block;
  background-repeat: repeat-x;
  opacity: 0.9;
  margin: 40px 0 40px;
}

.mp-line-type-2__icon-design {
  background-image: url(../images/1.png);
  width: 72px;
  height: 73px;
}

.mp-line-type-2__icon-implement {
  background-image: url(../images/2.png);
  width: 59px;
  height: 79px;
}

.mp-line-type-2__icon-enhance {
  background-image: url(../images/3.png);
  width: 82px;
  height: 74px;
}

.mp-line-type-2__icon-monitor {
  background-image: url(../images/4.png);
  width: 92px;
  height: 70px;
}

.mp-intro__button-gallery,
.mp-line-type-4__button-more {
  background-color: #d9534f;
  border-color: #d9534f;
  color: #fff;
  padding: 0.7em 1em 0.7em 1em;
}

.mp-line-type-4__button-detail {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
  padding: 0.7em 1em 0.7em 1em;
}

.mp-intro__button-more,
.mp-line-type-4__button-more,
.mp-form__submit-button {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
  padding: 0.7em 1em 0.7em 1em;
}

.mp-line-type-2,
.mp-line-type-3,
.mp-line-type-4,
.mp-line-type-5,
.mp-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.mp-line-type-2__item,
.mp-line-type-3__item,
.mp-line-type-4__item,
.mp-line-type-5__item {
  min-height: 200px;
  padding: 50px 40px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.mp-galery__item {
  display: block;
  float: left;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  box-sizing: border-box;
}

.mp-galery__item:nth-child(-n+3) {
  width: 33.33%;
}

.mp-galery__item:nth-child(7),
.mp-galery__item:nth-child(8) {
  width: 50%;
}

.mp-galery__item:nth-child(4) {
  width: 66.66%;
}

.mp-galery__item:nth-child(5),
.mp-galery__item:nth-child(6) {
  width: 33.33%;
}

.mp-galery__item:nth-child(n+9) {
  width: 25%;
}

.mp-main__outer-placeholder-about,
.mp-main__outer-placeholder-contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/tm-sigma-00.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 110px;
  padding-bottom: 110px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 255, 255);
}

.mp-line-type-3__item {
  width: 33.33333%;
  min-height: 200px;
}

.mp-galery__item:last-child():after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.mp-line-type-2__item:nth-child(1) {
  background-color: #e4e8e8;
}

.mp-line-type-2__item:nth-child(2) {
  background-color: #999;
  color: #fff;
}

.mp-line-type-2__item:nth-child(3) {
  background-color: #666;
  color: #fff;
}

.mp-line-type-2__item:nth-child(4) {
  background-color: #444;
  color: #fff;
}

.mp-line-type-3__item:nth-child(1) {
  background-color: #e4e8e8;
}

.mp-line-type-3__item:nth-child(2) {
  background-color: #999;
  color: #fff;
}

.mp-line-type-3__item:nth-child(3) {
  background-color: #666;
  color: #fff;
}

.mp-line-type-4__item:nth-child(1) {
  background-color: #ebe;
  color: #000;
}

.mp-line-type-4__item:nth-child(2) {
  background-color: #92c4f8;
  color: #000;
}

.mp-line-type-5__item:nth-child(1) {
  background-color: #a52;
  color: #fff;
}

.mp-line-type-5__item:nth-child(2) {
  background-color: #28b;
  color: #fff;
}

.mp-line-type-5__item:nth-child(3) {
  background-color: #496;
  color: #fff;
}

.mp-line-type-5__item:nth-child(4) {
  background-color: #a4a430;
  color: #fff;
}

.mp-about__title,
.mp-line-contact-us__title,
.mp-address__title,
.mp-line-type-2__title,
.mp-line-type-3__title,
.mp-line-type-4__title,
.mp-line-type-5__title {
  font-size: 2em;
}

.mp-about__description,
.mp-line-contact-us__description,
.mp-address__description,
.mp-line-type-2__description,
.mp-line-type-3__description,
.mp-line-type-4__description,
.mp-line-type-5__description,
.mp-address__icon-email-info,
.mp-address__icon-phone-info {
  padding: 20px 0;
  font-size: 1em;
  line-height: 30px;
}

.mp-line-type-2__description,
.mp-line-type-3__description,
.mp-line-type-4__description,
.mp-line-type-5__description {
  font-size: 1.1em;
}

.mp-main__placeholder-form-line {
  margin-top: 40px;
}

.mp-form__placeholder-form-type1,
.mp-form__placeholder-form-type2 {
  min-width: 33.33%;
  width: 33.33%;
}

.mp-form__name-lable,
.mp-form__email-lable,
.mp-form__budget-lable,
.mp-form__subject-lable,
.mp-form__message-lable {
  margin-bottom: .5rem;
}

.mp-form__name-textbox,
.mp-form__email-textbox,
.mp-form__budget-value,
.mp-form__subject-textbox,
.mp-form__message-textbox,
.mp-form__robot-lable {
  display: block;
  width: 80%;
  padding: .375rem .75rem;
  margin: 1.3rem 0 2rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: .25rem;
  font: inherit;
  font-size: 1em;
  box-sizing: content-box;
}

.mp-form__robot-lable {
  border: none;
  padding-left: 0;
}

.mp-main__placeholder-form {
  margin: 0 0 60px;
}

.mp-form__message-textbox {
  height: 70px;
}

.mp-footer {
  margin: 0 5% 0 5%;
  font-size: 0.9em;
}

.mp-footer__copyright-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
  margin: 30px 0 52px;
}

@font-face {
  font-family: 'mp-font';
  src: url('../font/mp-font.eot?92392813');
  src: url('../font/mp-font.eot?92392813#iefix') format('embedded-opentype'), url('../font/mp-font.woff?92392813') format('woff'), url('../font/mp-font.ttf?92392813') format('truetype'), url('../font/mp-font.svg?92392813#mp-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mp-email__icon-email,
.mp-phone__icon-phone {
  font-family: "mp-font";
  font-size: 2em;
  display: inline;
}

.mp-email__icon-email-info,
.mp-phone__icon-phone-info {
  display: inline;
  margin-left: 20px;
}

.mp-address__icon-email-placeholder {
  margin-top: 20px;
  margin-bottom: 30px;
}

.mp-address__description {
  padding-right: 40px;
}

.mp-copyright__top-jumper-link,
.mp-line-contact-us__link {
  color: #0275d8;
  text-decoration: none;
}