html, body, main {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.mp-container {    
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: #fff;
    margin: 0 5% 0 5%;
}

.mp-main {
    flex-grow: 1;
}

.mp-main__placeholder-for-intro {
    background-image: url("../images/tm-sigma-00.jpg");
    height: 712px;     
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

